fastapi
uvicorn
redis
openai
faker
python-dotenv
python-multipart
httpx
pandas
numpy
scipy
scikit-learn
xgboost
joblib
pyahocorasick
rbloom
tensorflow==2.15.0
sentence-transformers
SQLAlchemy>=2.0.0
psycopg2-binary>=2.9.0
opencc
